.messages-container {
    margin: 26px 0 10px 0;
    height: calc(100% - 160px);
    overflow-y: scroll;
}

.messages-container::-webkit-scrollbar {
    width: 0;
}

.messages-container li {
    margin-bottom: 4px;
    padding: 10px;
    border-radius: 2px;
}

.message-status {
    background-color: #dcdcdc;
}

.message-all {
    background-color: #ffffff;
}

.message-private {
    background-color: #ffdede;
}

.message-time {
    display: inline-block;
    color: #aaaaaa;
    font-size: 1.4rem;
}

.message-content {
    display: inline-block;
    color: #000000;
    font-size: 1.4rem;
    line-height: 20px;
}

.message-content strong {
    display: inline-block;
    font-weight: 700;
    margin: 0 5px;
}