@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 0;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

h3 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #505050;
    margin-top: 3px;
}

.login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.login-screen>img{
    width: 130px;
}

.login-screen>input {
    margin-top: 94px;
    margin-bottom: 15px;
    width: 261px;
    height: 54px;
    text-align: center;
    font-size: 1.8rem;
    color: #AEAEAE;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.login-screen>button{
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 9px;
    color: #696969;
    font-size: 1.8rem;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.loading-screen>img:nth-child(2) {
    margin-top: 94px;
    margin-bottom: 22px;
    animation-name: rotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.messages-screen {
    margin: 0 auto;
    width: 80%;
    height: 90vh;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.top-bar {
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

.top-bar>img {
    width: 75px;
}

.top-bar>ion-icon {
    font-size: 45px;
}

.bottom-bar {
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0 15px;
}

.bottom-bar>ion-icon {
    font-size: 32px;
}

.message-input>input{
    height: 30px;
    width: 80%;
    border: none;
    font-size: 1.8rem;
}

.message-input>input::placeholder{
    font-style: italic;
    color: #000000;
}

.contact-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: end;
}

.contact-bar {
    width: 259px;
    background-color: #FFFFFF;
    padding: 0 18px;
}

.contact-bar li {
    margin-bottom: 10px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    position: relative;
}

.check {
    position: absolute;
    bottom: 8px;
    right: 0;
    color: #28BB25;
}


.contact-select ion-icon:first-child {
    font-size: 27px;
    margin-right: 9px;
}

.privacy-select ion-icon:first-child {
    font-size: 23px;
    margin-right: 10px;
}

.contact-bar-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding-top: 26px;
    margin-bottom: 30px;
}

.privacy-select .contact-bar-title {
    padding-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .messages-screen {
        height: 100vh;
        width: 100%;
    }
}

.hidden {
    display: none;
}